%h1 This is dashboard

%a{href: "/dashboard/encrypt"} Encrypt
%br
%a{href: "/dashboard/decrypt"} Decrypt to STDOUT
%br
%a{href: "/dashboard/s3_decrypt"} Decrypt to S3


%p
  %a{href: '/log_out'} Log out
